<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prepared.mapper.PostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="PostVOMap" type="com.prepared.bean.Post">
        <result column="post_id" property="postId"/>
        <result column="post_name" property="postName"/>
    </resultMap>

    <!--根据岗位id查询岗位信息-->
    <select id="queryPost" resultMap="PostVOMap">
        SELECT t1.post_id,
               t1.post_name
        FROM t_post t1
        where post_id = 1
        and 1 =1
    </select>

</mapper>